* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    border-radius: 12px;
}
body {
    background-color: #f4f6f9;
}
.fa-solid.fa-moon {
    color: gold;
    font-size: 1.5rem;
}
.header {
    background: linear-gradient(to bottom, #1e73e8, #155ab6);    
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 8px;
    color: #000000;
}
.header__logo, .header__logo{
    background: linear-gradient(#1e73e8, #155ab6);    
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    padding: 1.5rem;
}

.products-section {
    flex: 1;
}

.sidebar {
    background: #ffffff;   
    position: sticky;
    top: 1.5rem;
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    z-index: 3;
}

.cart__items{
    padding: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    border: 1px solid #e5e7eb;
}

.cart__header {
    background: #2c2f36;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.cart__title {
    background: #2c2f36;
    font-size: 1.05rem;
    font-weight: 700;
    color: white;
}

.cart__icon {
    font-size: 1.25rem;
    opacity: 0.95;
}

#cart-container {
    max-height: 400px;
    overflow-y: auto;
}

.cart__empty-title {
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}
.btn.btn--danger{
    color: white;
    width: 100px;
    height: 35px;
    background: linear-gradient(to right, #e53935, #c62828);    
    border-radius: 0;
}
.btn.btn--success{
    color: white;
    height: 35px;
    background: linear-gradient(to right, #2e7d32, #1b5e20);    
    border-radius: 0;
}
/* Contenedor principal */
/* Contenedor principal */
#products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

/* Cada producto */
.producto {
  width: 150px;      /* ancho fijo */
  text-align: center;
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 5px;
}

/* Contenedor de imagen fijo */
.producto .img-container {
  width: 100%;       /* ancho igual al producto */
  height: 150px;     /* alto fijo */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

/* Imagen ocupa todo el contenedor y se recorta proporcionalmente */
.producto .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* recorta para llenar el contenedor */
  object-position: center;  /* centra la imagen */
}
